body {
    background-color:black;
}
.a{
    position:absolute ;
    top:50%;
    left:10%;
}
#left,#right,#top,#bottom {
    background: red;
    position: absolute;
 border-style:dashed;
    }
    #left, #right {
        top: 0; 
  bottom: 0;
        width: 5px;
        }
        #left {
 left: 0; }
        
 #right { 
right:0; }
        
    #top, #bottom {
        left: 0; 
  right: 0;
        height: 5px;
        }
        #top { 
top: 0; 
}
        #bottom { 
bottom: 0; 
}
 .my{
       color:RoyalBlue;
       position:absolute ;
       top:15%;
       text-shadow:2px 5px 5px #ff66ff;
       font-size:60px;
       font-family:'Comic sans MS','cursive','sans-serif';
      } 
.mar{
    position:absolute;
    top:70%;
    right:0;
    left:0;
    color:Green;
    font-size:25px;
}
.listen{
    color:#00ff00;
    position:absolute;
    top:65%;
    left:13%;
    font-family:'sans-serif','Lucida Sans Unicode';
    text-decoration: underline  dashed  pink ;
}
